# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
/.pnp
.pnp.js

# testing
coverage/

# generated builds
build/
client/build/

# misc
.DS_Store
# local environment files
.env
.env.*
**/.env
**/.env.*
!.env.example
!**/.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# local account data
server/accounts.json
server/faction-stats.json
server/matches.json
server/rooms.json
